/* style.css */
/* General CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
/* Header CSS */
.header-container {
  background-color: rgb(52, 52, 52);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 20px;
  line-height: 1.1rem;
  font-weight: 700;
  justify-self: flex-start;
}
.search-container {
  background-color: gray;
  border-radius: 30px;
}
#search,
.search-icon {
  font-size: 20px;
  margin: 0;
  line-height: 30px;
  color: white;
}
#search {
  border: none;
  background-color: gray;
  text-align: center;
  margin-left: 50px;
  padding: 10px 0;
}
.search-icon {
  padding: 10px 20px 10px 5px;
}
#search::placeholder {
  color: white;
}
#search:focus {
  outline: none;
}
.units-container {
  margin-right: 20px;
}
#units {
  font-size: 24px;
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px;
}
#units option {
  color: black;
}
/* Weekly View CSS */
.week-view {
  display: flex;
  justify-content: space-evenly;
}
.today-container {
  height: 300px;
  width: 250px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.today-container p {
  text-align: center;
}
.location {
  font-size: 2rem;
  font-weight: 700;
}
.description {
  font-size: 1.5rem;
}
.current-temp {
  font-size: 6rem;
  font-weight: 700;
}
.hilow-temp {
  font-size: 1.5rem;
}
.week-container {
  height: 300px;
  width: 60%;
  margin-top: 30px;
  background-color: lightgray;
}
